@model IEnumerable<CategoryListingServiceModel>

@{
    ViewBag.Title = "All Categories";
}


<div class="container-fluid">
    <br />
    <h2>Create a Category</h2>@Html.ActionLink("Create", "Create", "Category", null, new { @class = "btn btn-primary" })
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Category", new { id = category.Id }, new { @class = "btn btn-sm btn-success" })
                        @Html.ActionLink("Delete", "Delete", "Category", new { id = category.Id }, new { @class = "btn  btn-sm btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}