@model IEnumerable<ImageListingServiceModel>

@{
    ViewBag.Title = "All Images";
    var counter = 1;
}


<div class="container-fluid">
    <br />
    <h2>Moderate Images</h2>
    <hr />
    <table class="table">
        <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Name
            </th>
            <th>
                Upload Date
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var image in Model)
        {
            <tr>
                <td>@counter</td>
                @{ counter++;}

                <td>@image.Title</td>

                <td>@image.UploadDate.ToShortDateString()</td>
                <td>
                    @Html.ActionLink("View", "Details", "Manage", new { id = image.Id }, new { @class = "btn btn-sm btn-info" })
                    @Html.ActionLink("Edit", "Edit", "Manage", new { id = image.Id }, new { @class = "btn btn-sm btn-success" })
                    @Html.ActionLink("Delete", "Delete", "Manage", new { id = image.Id }, new { @class = "btn  btn-sm btn-danger" })
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
